.title {
  padding-top: 24px;
}

.end-game-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.stalemate-text {
  margin: 0;
}

.cat-image {
  max-height: 3rem;
  border-radius: 0.5rem;
}